label{
  color: white;
  padding: .5em 1em;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}

#black + label{ background-color: black; }
#red + label{ background-color: red; }
#orange + label { background-color: orange; }
#yellow + label { background-color: rgb(231, 231, 0); }
#green + label { background-color: green; }
#blue + label { background-color: blue; }
#purple + label { background-color: purple; }

:has(#black:checked) h1{ color: black; }
:has(#red:checked) h1{ color: red; }
:has(#orange:checked) h1{ color: orange; }
:has(#yellow:checked) h1{ color: yellow; }
:has(#green:checked) h1{ color: green; }
:has(#blue:checked) h1{ color: blue; }
:has(#purple:checked) h1{ color: purple; }
:has(#color-lock:checked) label:not(.color-lock){ pointer-events: none; }

input:not(#color-lock):checked + label{
  background-color: white !important;
  color: black;
}
#color-lock + label{ background-color: rgb(80, 220, 80); }
#color-lock:checked + label{ background-color: rgb(255, 89, 89); }
